@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), 
  url('../../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), 
  url('../../fonts/Lato-Regular/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/Lato-Light/Lato-Light.woff') format('woff'), 
  url('../../fonts/Lato-Light/Lato-Light.ttf')  format('truetype'), 
  url('../../fonts/Lato-Light/Lato-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
   font-family: 'Lato';
  src: url('../../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), 
  url('../../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), 
  url('../../fonts/Lato-Bold/Lato-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VarelaRound';
  src: url('../../fonts/VarelaRound/VarelaRound-Regular.eot') format('embedded-opentype'),
  url('../../fonts/VarelaRound/VarelaRound-Regular.woff') format('woff'), 
  url('../../fonts/VarelaRound/VarelaRound-Regular.ttf')  format('truetype'), 
  url('../../fonts/VarelaRound/VarelaRound-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;

}

