$title-font: 'VarelaRound', sans-serif;
$main-font: 'Lato', sans-serif;
$title-color: #26272d;
$text-color: #8c8f94;
$btn-white: #ffffff;
$bth-head: #267df4;
$main-text-color: #a5a7ab;
$black-color: #000000;
$nav-color: #26272d;
$social-color: #bdbec0;
$grey-wrap: #f5f5f8;
$btn-green: #6fc754;