.features-container {
	padding: 100px 20px;
}
.feature-section {
	min-height: 430px;
	padding: 20px 10px;

	&:hover {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}
}
.feature-text {
	display: block;
	font-size: 18px;
	color: $main-text-color;
	line-height: 22px;
	padding-bottom: 40px;
}

.feature-title {
	padding: 45px 0;
}
.iphone-features {
	background-repeat: no-repeat;
	height: 100vh;

}