.features-container {
	padding: 110px 20px 0 20px;
}

.feature-text {
	display: block;
	font-size: 18px;
	color: $main-text-color;
	line-height: 22px;
	padding-bottom: 40px;
}

.feature-title {
	padding: 45px 0;
}