
.feature-section {
	min-height: 430px;
	padding: 30px;
	transition: all 0.3s ease;

	&:hover {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}

	&__text {
		display: block;
		font-size: 18px;
		color: $text-color;
		line-height: 22px;
		padding-bottom: 40px;

		@include breakpoints(sm) {
    		font-size: 16px;
			line-height: 20px;
    	}
	}

	&__title {
		padding: 45px 0;
	}
}
.iphone-features {

	&__btn {
		padding-top: 40px;
		display: inline-block;
	}
}

.features-content {
	max-height: 500px;
	height: 100%;
	display: flex;
	max-width: 470px;
	flex-direction: column;

	@include breakpoints(sm) {
    	margin: 0 auto;
    }

	&__title {
		max-width: 265px;
		padding-bottom: 80px;
	}

	&__text {
		padding-bottom: 40px;
	}
}

.features-wrapper {
	min-height: 700px;
	height: 100%;
	position: relative;
}

.iphone-wrapper {

	&__img {
    	position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
    	background-size: contain;

    	@include breakpoints(sm) {
    		opacity: 0.5;
    	}
	}
}

.map-wrapper {
	min-height: 490px;
	margin-bottom: 60px;
	height: 100%;
	position: relative;

	&__img {
    	position: absolute;
	    top: 0;
	    right: -400px;
	    bottom: 0;
	    width: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
    	background-size: contain;
    	background-position: right;

    	@include breakpoints(sm) {
    		opacity: 0.5;
    		right: 0;
    	}
	}
}
.iphone-section {

	@include breakpoints(sm) {
		text-align: center;    	
	}

	&__btn {
		background-color: $btn-head;
		max-width: 200px;
		width: 100%;
		margin-right: 20px;
		max-height: 40px;
		height: 100%;

		@include breakpoints(md) {
			margin-right: 0;
			margin-bottom: 30px;   	
		}
	}

	&__btn-learn {
		max-width: 140px;
		border: 1px solid $text-color;
		height: 100%;
		max-height: 40px;
		width: 100%;	
	}

	&__btn-text {
		position: relative;

		&:after {
			position: absolute;
			content: '\e801';
			font-size: 14px;
			font-family: 'fontello';
			color: $btn-white;
			margin-left: 20px;
		}
	}

	&__learn-text {
		color: $title-color;
		font-size: 16px;
   		line-height: 18px;
   		padding: 10px 0;
    	display: block;	
	}
}

.map-section {

	&__title {
		padding-bottom: 30px;
	}

	&__link {
		display: inline-flex;
		padding-right: 30px;
		cursor: pointer;
	}
}

.screen-wrapper {
	background-color: #f5f5f8;
}

.screen-container {
	text-align: center;

	&__title {
		padding: 40px 0;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 50px;
			height: 2px;
			background-color: $btn-head;
			bottom: 0;
			left: 48%;

			@include breakpoints(xs) {
				left: 40%;  	
			}
		}
	}

	&__subtitle {
		color: $text-color;
		padding: 40px 0;
	}
}

.screen-section {
	@include fcc;

	width: 100%;
	flex-direction: row;
	flex-wrap: no-wrap;
	overflow: visible;
	min-height: 850px;	
	height: 100%;
}

.screen-item {
	width: 100%;
	min-width: 360px;


	&:first-child {
		margin-left: -245px;	
	}


	&:last-child {
		margin-right: -245px;
	}

	&__iphone {
		min-width: 420px; 
	}
}


.order-container {
	padding: 0 20px 60px;
	text-align: center;

	&__form {
		margin: 0 auto;
		position: relative;
		max-width: 500px;
		max-height: 50px;

		&-input {
			box-shadow: none; 
			border-radius: 30px;
			border: 1px solid $text-color; 
			padding-left: 25px;
			width: 100%;
			height: 50px;	
			padding-right: 170px;	
		}

		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			margin: 5px;
			height: 40px;
			max-width: 160px;
			width: 100%;
			border:none;
			border-radius: 30px;
			background-color: $btn-green;
			transition: all 0.3s ease;

			@include breakpoints(sm) {
				max-width: 120px;  	
			}

			&:hover {
      			opacity: 80%;
    		}

			&:after {
				position: absolute;
				content: '\e801';
				font-size: 12px;
				font-family: 'fontello';
				color: $btn-white;
				right: 0;
    			margin-right: 15px;

    			@include breakpoints(sm) {
					margin-right: 5px; 	
				}
			}
		}

		&-text {
			font-size: 16px;
			color: $btn-white;
			line-height: 18px;
		}
	}

	&__text {
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		color: $text-color; 
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 55px;
	}

	&__apple {
		margin: 60px 0;

		&-title {
			display: block;
			text-transform: uppercase;
			font-size: 12px;
			color: $text-color;
			padding-bottom: 20px;
		}

		&-btn {
			max-width: 200px;
			width: 100%;
			height: 60px;
			border-radius: 30px;
			background-color: $black-color;
			position: relative;
			flex-direction: column;
			transition: all 0.3s ease;

			&:hover {
				border: 1px solid $btn-white;
			}

			&:before {
				@include before-apple;

				position: absolute;
				top: 20px;
				left: 25px;
				font-size: 26px;
			}
		}

		&-text {
			font-size: 12px;
			color: $btn-white;
			margin-left: 10px;
		}

		&-subtext {
			font-size: 23px;
			color: $btn-white;
			margin-left: 10px;
		}
	}
}

.customers-slider {
	@include fcc;

	margin: 0 auto;
	max-width: 850px;
	width: 100%;

	&__item {
		text-align: center;


		&-img {
			border-radius: 100%;
			margin: 0 auto;
			opacity: 0.5;
			max-width: 105px;
			width: 100%;
		}

		&-title {
			padding: 60px 0;

			@include breakpoints(md) {
				padding: 30px 0; 	
			}
		}

		&-rating {
			@include fcc;

			flex-direction: row;
			margin: 0 auto;
			padding: 25px;
			max-width: 120px;
		}
	}

	&__content {
		display: none;
	}
}

.slick-current	{

	.customers-slider {
		
		&__item {

			&-img {
				opacity: 1;
				max-width: 140px;
				width: 100%;
			}
		}	

		&__content {
			display: block;
		}
	}
}

.prev, .next {
  	width: 50px; 
  	height: 50px;
	transition: all 0.4s ease;
	position: relative;
	background-color: transparent;
	box-shadow: none;
  	border: none;
  	cursor: pointer;

  	@include breakpoints(sm) {
  		display: none;
  	}

  	&:focus {outline:none;}

	&:before {
	  	font-family: 'fontello';
	  	font-size: 32px;
	  	color: $text-color;
	  	position: absolute;
	  	width: 50px;
	  	height: 50px;
	  	top: 0;
	  	right: 0;
	}
}

.prev {
	left: 0;
	top: 75px;

	&:before {
		content: '\e80b';
	}
}	

.next {
	left: 90%;
	top: 75px;

	&:before {
		content: '\e80a';
	}
}


.star-ratting {
	display: inline-block;
	position: relative;
	margin: 20px 0;
	color: #f2bc3b;
	flex: 0 0 35%;
	margin-right: 5px;
	width: 20px;
	height: 25px;
	
	&:before {
		position: absolute;
		content: '\e804';
		font-size: 22px;
		font-family: 'fontello';
		left: 0;
	}
}

.star-ratting__emty {
	color: #8c8f94;
}


.plan-container {

	&-wrapp {
		background-color: #f4f4f5;
	}
}

.plan-content {

	&__title {
		width: 380px;
		padding-bottom: 55px;
	}

	&__subtitle {
		display: block;
		padding: 20px 0;
	}

	&__text {
		display: block;
		padding: 45px 0;
	}

	&__contacts {
		
		&-text {
			font-size: 14px;
			color: $text-color;
			line-height: 18px;
		}
	}
}

.plan-toogles {
	@include fcsa;

	max-width: 260px;
	width: 100%;
	flex-direction: row;
	border-radius: 30px;
	border: 1px solid $text-color;
	position: relative;
	margin-bottom: 30px;
	cursor: pointer;

	&__container {
		font-size: 16px;
		color: $text-color;
		padding: 15px 0;
		position: relative;
		z-index: 2;
		transition: all .7s ease-in-out;
	}

	&:before {
		content: '';
		position: absolute;
		width: 50%;
		height: 40px;
		border-radius: 30px;
		background-color: $btn-white;
		left: 0;
		top: 0;
		margin: 3px;
		transition: all .7s ease-in-out;
	}
}

.active-toggles {
	color: $black-color;


	&:before {
		left: 47%;
	}
}

.plan-section {
	margin: 80px 0;
	max-width: 330px;
	max-height: 530px;
	width: 100%;
	height: 100%;
	padding: 50px 0;
	background-color: $plan-color;
	position: relative;
	transition: all .7s ease-in-out;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;

	@include breakpoints(md) {
		height: 400px;
	}

	&__price {
		padding: 5px 15px;
		border-radius: 30px;
		border: 1px solid $text-color;
		max-width: 60px;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		color: $black-color;

		@include breakpoints(md) {
			max-width: 50px;
			padding: 5px;
		}
	}

	&__title {
		padding-bottom: 25px;
	}

	&__text {
		display: block;
		padding: 55px 0;
		max-width: 175px;
		margin: 0 auto;
		text-align: center;

		@include breakpoints(md) {
			padding: 25px 10px;
		}
	}
	
	&__list {
		text-align: center;
	}

	&__element {
		font-size: 16px;
		color: $black-color;
		padding-bottom: 30px;

		@include breakpoints(md) {
			padding-bottom: 20px
		}

		@include breakpoints(sm) {
			max-width: 150px;
		}

		&-text {
			position: relative;
			font-size: 16px;
			color: $black-color;

			@include breakpoints(md) {
				font-size: 13px;
			}

			&:before {
				content: '\e805';
				position: absolute;
				color: $btn-green;
				font-family: 'fontello';
				left: -20px;

				@include breakpoints(md) {
					left: -13px;
				}
			}
		}
	}

	&__btn {
		border-radius: 30px;
		border: 1px solid $btn-head;
		max-height: 40px;

		&-text {
			padding: 10px 50px;
			display: inline-block;
			color: $btn-head;
			font-size: 16px;

			@include breakpoints(md) {
				padding: 10px;	
				font-size: 14px;		
			}
		}
	}
}

.active-section {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	background-color: $btn-white;
	transform: scale(1.1);
	z-index: 10;

	.plan-section__btn {
		background-color: $btn-head;

		&-text {
			color: $btn-white;
		}	
	}
}

.news-container {
	padding: 85px 20px;


	&__form {
		max-width: 570px;
	}

	&__text {
		font-size: 14px;
		color: $text-color;
		display: inline-block;
		padding: 30px 0;
	}
}


