.header-wrapper {
	background-size: cover;
	background-position: center;
	min-height: 920px;
	overflow: hidden;
}

.header-menu {
	width: 100%;
	padding-top: 60px;
}

.header-btn {
	top: 4px;

	&:hover {
		.header-btn {
			&__icon {
				background-color: $bth-head;

				&:before, &:after {
					background-color: $bth-head;
				}
			}
		}
	}

	&__icon {
		display: block;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	height: 2px;
	  	width: 100%;
	  	background-color: $black-color;
	  	transition: all 0.3s ease;

	  	&:before, &:after {
			content: "";
			position: absolute;
		  	display: block;
		  	left: 0;
		  	width: 100%;
		  	height: 2px;
		  	background-color: $black-color; 
		  	transition: all 0.3s ease; 	
	  	}

	  	&:before {
	  		bottom: -5px;
	  	}

	  	&:after {
	  		bottom: -10px;
	  	}
	}
}

.header-navigation {
	display: block;
	position: fixed;
	height: 100%;
	background-color: $nav-color;
	left: -250px;
	width: 250px;
	top: 0;
	z-index: 1;
	padding: 40px;
	transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);


	&__link {
		color: $btn-white;
		font-size: 16px;
		transition: all 0.3s ease;

		&:hover {
			color: $bth-head;
		}
	}

	&__element {
		display: block;
		margin: 10px 0; 

		&:last-child {
			margin-bottom: 30px;
		}
	}

	&__logo {
		padding: 20px 0;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 35px;	

		&:before, &:after {
			content: '';
		    width: 20px;
		    height: 2px;
		    background: $btn-white;
		    position: absolute;
		}

		&:before {
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}
.navigation-social {
	padding-top: 50px;

	&__icon {
		color: $social-color;
		transition: all 0.3s ease; 

		&:hover {
			color: $btn-white;
		}
	}

	.facebook {
		position: relative;

		&:before {
			content: '\f09a';
			font-family: 'fontello'; 	
		}
	}

	.facebook {
		position: relative;

		&:before {
			content: '\f09a';
			font-family: 'fontello'; 
		}
	}

	.twitter {
		position: relative;

		&:before {
			content: '\f099';
			font-family: 'fontello'; 
		}
	}

	.gplus {
		position: relative;

		&:before {
			content: '\f0d5';
			font-family: 'fontello'; 
		}
	}
	.tumbler {
		position: relative;

		&:before {
			content: '\e800';
			font-family: 'fontello'; 
		}
	}

	.pinterest {
		position: relative;

		&:before {
			content: '\f231';
			font-family: 'fontello'; 
		}
	}

	.linkedin {
		position: relative;

		&:before {
			content: '\f0e1';
			font-family: 'fontello'; 
		}
	}

	&__element {
		display: inline-block;
		padding: 0 5px;
	}
}


.header-categoties {
	display: inline-flex;
}

.header-list {

	&__element {
		display: inline-block;
		padding: 0 20px;
	}

	&__link {
		color: $title-color;
		font-size: 16px;
		transition: all 0.3s ease;


		&:hover {
			color: $text-color;
		}
	}
}
.header-subcategoties {
	display: inline-flex;

	&__btn {
		min-width: 130px;
		height: 40px;
		border-radius: 30px;
		background-color: $bth-head;
		margin-top: -7px;
		margin-left: 10px;
		position: relative;
		transition: all 0.3s ease;

		&:before {
			content: '\f179';
			font-size: 16px;
			font-family: 'fontello';
			color: $btn-white;
			padding-right: 15px;
		}

		&:hover {
			background-color: rgba(38,125,244, .5);
		}	
	}

	&__text {
		color: $btn-white;
		display: block;
	}
}
.header-logo {
	text-align: center;
	transition: all 0.3s ease;
}

.header-content {
	@include fcc;

	flex-wrap: wrap;
	padding-top: 120px;
	max-width: 770px;
	margin: 0 auto;

	&__text {
		display: block;
		text-align: center;
		padding: 50px 0;
	}

	&__btn {
		min-width: 200px;
		height: 50px;
		border-radius: 30px;
		font-size: 16px;
		border: 1px solid $main-text-color;
		font-weight: normal;
		position: relative;

			&:before {
			content: '\e802';
			font-size: 16px;
			font-family: 'fontello';
			color: $black-color;
			padding-right: 10px;
		}
	}
}
.header-iphone {
	padding-top: 60px;
	text-align: center;
	overflow: hidden;
}