.header-wrapper {
	background-size: cover;
	background-position: center;
	max-height: 920px;
	overflow: hidden;

	@include breakpoints(sm) {
		max-height: 720px;
	}
}

.header-menu {
	width: 100%;
	padding-top: 60px;
}

.header-btn {
	top: 3px;

	&:hover {
		.header-btn {
			&__icon {
				background-color: $btn-head;

				&:before, &:after {
					background-color: $btn-head;
				}
			}
		}
	}

	&__icon {
		display: block;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	height: 2px;
	  	width: 100%;
	  	background-color: $black-color;
	  	transition: all 0.3s ease;

	  	&:before, &:after {
			content: "";
			position: absolute;
		  	display: block;
		  	left: 0;
		  	width: 100%;
		  	height: 2px;
		  	background-color: $black-color; 
		  	transition: all 0.3s ease; 	
	  	}

	  	&:before {
	  		bottom: -5px;
	  	}

	  	&:after {
	  		bottom: -10px;
	  	}
	}
}

.header-navigation {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 250px;
	background-color: $nav-color;
	transform: translateX(-100%);
	left: 0;
	top: 0;
	z-index: 1;
	padding: 40px;
	transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);

	@include breakpoints(sm) {
		max-width: 100%;
		width: 100%;
		background-color: rgba(38,39,45,.9);
		text-align: center;
	}

	&.active {
		transform: translateX(0);
	}


	&__link {
		color: $btn-white;
		font-size: 16px;
		transition: all 0.3s ease;

		@include breakpoints(sm) {
			font-size: 20px; 
		}

		&:hover {
			color: $btn-head;
		}
	}

	&__element {
		display: block;
		margin: 10px 0; 

		@include breakpoints(sm) {
			margin: 20px 0; 
		}

		&:last-child {
			margin-bottom: 30px;
		}
	}

	&__logo {
		padding: 20px 0;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 35px;
		width: 20px;
		height: 20px;	

		&:before, &:after {
			content: '';
		    width: 20px;
		    height: 2px;
		    background: $btn-white;
		    position: absolute;
		    top: 50%;
		    left: 0;
		}

		&:before {
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}

.navigation-social {

	&__link {
		color: $social-color;
	}

	&__icon {
		font-size: 20px;
	}

	.facebook {
		position: relative;

		&:before {
			content: '\f09a';
			font-family: 'fontello'; 	
		}
	}

	.facebook {
		position: relative;

		&:before {
			content: '\f09a';
			font-family: 'fontello'; 
		}
	}

	.twitter {
		position: relative;

		&:before {
			content: '\f099';
			font-family: 'fontello'; 
		}
	}

	.gplus {
		position: relative;

		&:before {
			content: '\f0d5';
			font-family: 'fontello'; 
		}
	}
	.tumbler {
		position: relative;

		&:before {
			content: '\e800';
			font-family: 'fontello'; 
		}
	}

	.pinterest {
		position: relative;

		&:before {
			content: '\f231';
			font-family: 'fontello'; 
		}
	}

	.linkedin {
		position: relative;

		&:before {
			content: '\f0e1';
			font-family: 'fontello'; 
		}
	}

	&__element {
		display: inline-block;
		padding: 0 5px;

		&:first-child {
			padding: 0 5px 0 0;
		}
	}
}

.navigation-social{

	&__header {
		padding-top: 50px;

		&-link {
			transition: all 0.3s ease;

			&:hover {
				color: $btn-white;
			}
		}
	}	
}


.header-categoties {
	display: inline-flex;

	@include breakpoints(md) {
		display: none;
	}
}

.header-list {

	&:first-child {
		padding: 10px 0;
	}

	&__element {
		display: inline-block;
		padding: 0 20px;
		margin: 0;
	}

	&__link {
		color: $title-color;
		font-size: 16px;
		transition: all 0.3s ease;


		&:hover {
			color: $text-color;
		}
	}
}
.header-subcategoties {
	display: inline-flex;

	@include breakpoints(md) {
		display: none;
	}

	&__btn {
		min-width: 130px;
		border-radius: 30px;
		background-color: $btn-head;
		margin-left: 10px;
		position: relative;

		&:before {
			@include before-apple;
		}
	}
}
.header-logo {
	text-align: center;
	transition: all 0.3s ease;
}

.header-content {
	@include fcc;

	flex-wrap: wrap;
	padding-top: 120px;
	max-width: 770px;
	margin: 0 auto;
	text-align: center;

	&__text {
		display: block;	
		padding: 50px 0;
	}

	&__btn {
		min-width: 200px;
		height: 50px;
		border-radius: 30px;
		font-size: 16px;
		border: 1px solid $text-color;
		font-weight: normal;
		position: relative;

		&:before {
			content: '\e802';
			font-size: 16px;
			font-family: 'fontello';
			color: $black-color;
			padding-right: 10px;
		}
	}
}
.header-iphone {
	padding-top: 60px;
	text-align: center;
	overflow: hidden;
}